/**
 * Main stylesheet
 *
 * @package         NoNumber Framework
 * @version         15.12.23749
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2015 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@font-face {
  font-family: 'NoNumber';
  src: url('../fonts/NoNumber.eot');
  src: url('../fonts/NoNumber.eot?#iefix') format('embedded-opentype'), url('../fonts/NoNumber.woff') format('woff'), url('../fonts/NoNumber.ttf') format('truetype'), url('../fonts/NoNumber.svg#nonumber') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NNIcons';
  src: url('../fonts/NNIcons.eot');
  src: url('../fonts/NNIcons.eot?#iefix') format('embedded-opentype'), url('../fonts/NNIcons.woff') format('woff'), url('../fonts/NNIcons.ttf') format('truetype'), url('../fonts/NNIcons.svg#NNIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-nonumber,
[class^="nnicon-"],
[class*=" nnicon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 16px;
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-nonumber:before {
  font-family: 'NoNumber' !important;
  font-size: 14.2px !important;
}
.btn .icon-nonumber {
  text-indent: -2px;
}
.btn .icon-nonumber:before {
  vertical-align: -3px;
}
.icon-nonumber-24:before {
  vertical-align: -5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .icon-nonumber-24:before {
    vertical-align: -3px;
  }
}
.btn .icon-nonumber {
  text-indent: -2px;
}
.icon-nonumber:before {
  content: "\e000";
}
.icon-addtomenu:before {
  content: "\e001";
}
.icon-adminbardocker:before {
  content: "\e002";
}
.icon-advancedmodulemanager:before {
  content: "\e003";
}
.icon-advancedtemplatemanager:before {
  content: "\e015";
}
.icon-articlesanywhere:before {
  content: "\e004";
}
.icon-betterpreview:before {
  content: "\e005";
}
.icon-cachecleaner:before {
  content: "\e006";
}
.icon-cdnforjoomla:before {
  content: "\e007";
}
.icon-componentsanywhere:before {
  content: "\e008";
}
.icon-contenttemplater:before {
  content: "\e009";
}
.icon-dbreplacer:before {
  content: "\e00a";
}
.icon-dummycontent:before {
  content: "\e017";
}
.icon-emailprotector:before {
  content: "\e00b";
}
.icon-iplogin:before {
  content: "\e016";
}
.icon-modals:before,
.icon-modalizer:before {
  content: "\e00c";
}
.icon-modulesanywhere:before {
  content: "\e00d";
}
.icon-rereplacer:before {
  content: "\e00e";
}
.icon-sliders:before {
  content: "\e00f";
}
.icon-snippets:before {
  content: "\e010";
}
.icon-sourcerer:before {
  content: "\e011";
}
.icon-tabs:before {
  content: "\e012";
}
.icon-timedstyles:before {
  content: "\e013";
}
.icon-tooltips:before {
  content: "\e014";
}
.icon-whatnothing:before {
  content: " ";
  width: 16px;
  display: inline-block;
}
[class^="nnicon-"]:before,
[class*=" nnicon-"]:before {
  font-family: 'NNIcons' !important;
}
.nnicon-paragraph-left:before {
  content: "\e001";
}
.nnicon-paragraph-center:before {
  content: "\e002";
}
.nnicon-paragraph-right:before {
  content: "\e003";
}
.nnicon-paragraph-justify:before {
  content: "\e004";
}
.nnicon-undo:before {
  content: "\e005";
}
.nnicon-redo:before {
  content: "\e006";
}
.nnicon-spinner:before {
  content: "\e007";
}
.nnicon-lock:before {
  content: "\e008";
}
.nnicon-unlocked:before {
  content: "\e009";
}
.nnicon-cog:before {
  content: "\e00a";
}
.nnicon-arrow-up:before {
  content: "\e00b";
}
.nnicon-arrow-right:before {
  content: "\e00c";
}
.nnicon-arrow-down:before {
  content: "\e00d";
}
.nnicon-arrow-left:before {
  content: "\e00e";
}
.nnicon-top:before {
  content: "\e00f";
}
.nnicon-bottom:before {
  content: "\e010";
}
.nnicon-simple:before {
  content: "\e011";
}
.nnicon-normal:before {
  content: "\e012";
}
.nnicon-advanced:before {
  content: "\e013";
}
.nnicon-home:before {
  content: "\e014";
}
.nnicon-info:before {
  content: "\e015";
}
.nnicon-warning:before {
  content: "\e016";
}
.nnicon-not-ok:before {
  content: "\e017";
}
.nnicon-link:before {
  content: "\e018";
}
.nnicon-eye:before {
  content: "\e019";
}
.nnicon-search:before {
  content: "\e01a";
}
.nnicon-earth:before {
  content: "\e01f";
}
.icon-nonumber.icon-src-sourcetags:before,
.nnicon-src-sourcetags:before {
  font-family: 'NNIcons' !important;
  content: "\e01b";
}
.icon-nonumber.icon-src-nosourcetags:before,
.nnicon-src-nosourcetags:before {
  font-family: 'NNIcons' !important;
  content: "\e01c";
}
.icon-nonumber.icon-src-tagstyle:before,
.nnicon-src-tagstyle:before {
  font-family: 'NNIcons' !important;
  content: "\e01d";
}
.icon-nonumber.icon-src-tagstylebrackets:before,
.nnicon-src-tagstylebrackets:before {
  font-family: 'NNIcons' !important;
  content: "\e01e";
}
.icon-expired:before {
  content: "\6e";
}
.nn_tablelist td {
  height: 22px;
  color: #555555;
}
.nn_tablelist td.has-context {
  height: 23px;
}
fieldset.nn_plaintext {
  margin-top: 5px;
}
.nn_code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #999999;
}
div.nn_well {
  padding-bottom: 0;
}
div.nn_well h4 {
  margin-top: 6px;
}
.nn_well.alert-success,
.nn_well.alert-error {
  color: #333333;
}
.alert-inline {
  margin: 14px 0 0;
}
.nn_btn-ignore.btn-danger.active {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.nn_btn-ignore.btn-danger.active:hover,
.nn_btn-ignore.btn-danger.active:focus,
.nn_btn-ignore.btn-danger.active:active,
.nn_btn-ignore.btn-danger.active.active,
.nn_btn-ignore.btn-danger.active.disabled,
.nn_btn-ignore.btn-danger.active[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.nn_btn-ignore.btn-danger.active:active,
.nn_btn-ignore.btn-danger.active.active {
  background-color: #cccccc \9;
}
.nn_btn-exclude.btn-success.active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ad312b;
  background-image: -moz-linear-gradient(top, #bd362f, #942a25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#942a25));
  background-image: -webkit-linear-gradient(top, #bd362f, #942a25);
  background-image: -o-linear-gradient(top, #bd362f, #942a25);
  background-image: linear-gradient(to bottom, #bd362f, #942a25);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd362f', endColorstr='#ff942a25', GradientType=0);
  border-color: #942a25 #942a25 #571916;
  *background-color: #942a25;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.nn_btn-exclude.btn-success.active:hover,
.nn_btn-exclude.btn-success.active:focus,
.nn_btn-exclude.btn-success.active:active,
.nn_btn-exclude.btn-success.active.active,
.nn_btn-exclude.btn-success.active.disabled,
.nn_btn-exclude.btn-success.active[disabled] {
  color: #ffffff;
  background-color: #942a25;
  *background-color: #802420;
}
.nn_btn-exclude.btn-success.active:active,
.nn_btn-exclude.btn-success.active.active {
  background-color: #6b1f1b \9;
}
.nn_textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nn_resize_textarea {
  cursor: pointer;
}
.nn_resize_textarea.nn_maximize .nn_resize_textarea_minimize {
  display: none;
}
.nn_resize_textarea.nn_minimize .nn_resize_textarea_maximize {
  display: none;
}
.header .icon-nonumber:before {
  font-size: 20px !important;
}
.header .status .icon-nonumber:before {
  font-size: 16px !important;
}
.icon-back:before {
  content: "\e008";
}
.icon-spin {
  -webkit-animation: spin .5s infinite linear;
  -moz-animation: spin .5s infinite linear;
  -ms-animation: spin .5s infinite linear;
  -o-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.inlist .simplecolors-swatch span {
  position: relative;
}
/* Dropdown and dropup fixes */
.btn-toolbar .modal,
.btn-toolbar .dropdown-menu {
  font-size: 13px;
}
@media (min-width: 768px) {
  .dropdown {
    display: inline-block;
  }
  .dropdown-menu.dropup-menu {
    bottom: 100%;
    top: auto;
  }
}
/* popovers */
.popover {
  width: auto;
  min-width: 200px;
}
/* icons */
.icon-color {
  background: transparent url(../images/icon-color.png) no-repeat;
  width: 16px !important;
  height: 16px !important;
}
.chzn-small {
  width: 120px;
}
div.chzn-container[id^="color_"][id$="_chzn"],
div.chzn-container#advancedparams_color_chzn {
  display: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.input-maximize:hover,
.input-maximize:focus,
.input-maximize .chzn-container:hover,
.input-maximize .chzn-with-drop {
  min-width: 100%;
}
.btn-group-yesno-reverse .active.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ad312b;
  background-image: -moz-linear-gradient(top, #bd362f, #942a25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#942a25));
  background-image: -webkit-linear-gradient(top, #bd362f, #942a25);
  background-image: -o-linear-gradient(top, #bd362f, #942a25);
  background-image: linear-gradient(to bottom, #bd362f, #942a25);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd362f', endColorstr='#ff942a25', GradientType=0);
  border-color: #942a25 #942a25 #571916;
  *background-color: #942a25;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-group-yesno-reverse .active.btn-success:hover,
.btn-group-yesno-reverse .active.btn-success:focus,
.btn-group-yesno-reverse .active.btn-success:active,
.btn-group-yesno-reverse .active.btn-success.active,
.btn-group-yesno-reverse .active.btn-success.disabled,
.btn-group-yesno-reverse .active.btn-success[disabled] {
  color: #ffffff;
  background-color: #942a25;
  *background-color: #802420;
}
.btn-group-yesno-reverse .active.btn-success:active,
.btn-group-yesno-reverse .active.btn-success.active {
  background-color: #6b1f1b \9;
}
.btn-group-yesno-reverse .active.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #409740;
  background-image: -moz-linear-gradient(top, #46a546, #378137);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#46a546), to(#378137));
  background-image: -webkit-linear-gradient(top, #46a546, #378137);
  background-image: -o-linear-gradient(top, #46a546, #378137);
  background-image: linear-gradient(to bottom, #46a546, #378137);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff46a546', endColorstr='#ff378137', GradientType=0);
  border-color: #378137 #378137 #204b20;
  *background-color: #378137;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-group-yesno-reverse .active.btn-danger:hover,
.btn-group-yesno-reverse .active.btn-danger:focus,
.btn-group-yesno-reverse .active.btn-danger:active,
.btn-group-yesno-reverse .active.btn-danger.active,
.btn-group-yesno-reverse .active.btn-danger.disabled,
.btn-group-yesno-reverse .active.btn-danger[disabled] {
  color: #ffffff;
  background-color: #378137;
  *background-color: #2f6f2f;
}
.btn-group-yesno-reverse .active.btn-danger:active,
.btn-group-yesno-reverse .active.btn-danger.active {
  background-color: #285d28 \9;
}
.thumbnail-small > .thumbnail > img {
  max-width: 40px;
}
input.nn_codefield,
input.nn_keyfield,
div.nn_keycode {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1.4em !important;
}
input.nn_codefield,
input.nn_keyfield {
  font-size: 14px !important;
}
.nn_keycode {
  color: #999999;
  padding: 2px 0;
}
#key_button,
#jform_key_button {
  margin-left: 8px;
}
.ghosted {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.nn_licence {
  margin-top: 30px;
  text-align: center;
}
.nn_footer {
  margin-top: 30px;
}
.nn_footer div {
  margin-top: 30px;
  text-align: center;
}
.nn_footer .nn_footer_review {
  margin-top: 5px;
}
.nn_footer .nn_footer_review a.stars .icon-star {
  color: #fcac0a;
  margin: 0;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.nn_footer .nn_footer_review a.stars:hover {
  text-decoration: none;
}
.nn_footer .nn_footer_review a.stars:hover .icon-star {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.nn_footer .nn_footer_logo img {
  vertical-align: -40%;
}
.nn_footer .nn_footer_copyright {
  margin-top: 3px;
  font-size: 0.7em;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
