/* Compojoom css and bootstrap overwrites */
.compojoom-bootstrap {
  .top-5 { margin-top:5px; }
  .top-7 { margin-top:7px; }
  .top-10 { margin-top:10px; }
  .top-15 { margin-top:15px; }
  .top-17 { margin-top:17px; }
  .top-30 { margin-top:30px; }

  .margin-bottom-5 { margin-bottom:5px; }
  .margin-bottom-7 { margin-bottom:7px; }
  .margin-bottom-10 { margin-bottom:10px; }
  .margin-bottom-15 { margin-bottom:15px; }
  .margin-bottom-17 { margin-bottom:17px; }
  .margin-bottom-30 { margin-bottom:30px; }

  .checkbox label {
    display: inline;
  }

  .form-group .controls {
    margin-left: 0;
  }
  .minicolors-theme-bootstrap .minicolors-input {
    width: 110px;
  }

  .field-media-input {
    margin: 0;
  }

  .input-append .add-on {
    height: 34px;
    line-height: 28px;
  }

  .nav-tabs.nav-justified > li > a {
    border-radius: 0;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }

  /** Horizontal form overrides */
  .form-horizontal .form-control {
    width: ~"calc(100% - 160px)";
  }

   .form-horizontal .control-label {
     text-align: left;
   }

  .form-horizontal .form-group {
    padding: 8px;
  }
  }
