/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */
.close_text {
pointer-events: none;
background-color: #00000087;
}

.tm-slideset-avion{
  box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.03);
    padding: 7px;
    border: 1px solid rgb(226, 226, 226);
    margin: 5px;
    padding: 5px;
}
.uk-margin10 {
margin: 10px;
}
.tm-slideset-avion:hover {
  box-shadow: 0px 1px 14px 2px rgba(0, 0, 0, 0.21);
    border: 1px solid rgb(179, 179, 179);
}

.red {
color:  #f00;
}
.uk-text-capitalize {
  text-transform: capitalize !important;
}

@media screen and (min-width: 600px) and (min-height: 500px) {
.img-cont {background-image: url(.../images/homepage/msk2.jpg)}
}
@media screen and (min-width: 800px) and (min-height: 600px) {
.img-cont {background-image: url(.../images/homepage/msk2.jpg)}
}
@media screen and (min-width: 1200px) and (min-height: 700px) {
.img-cont {background-image: url(.../images/homepage/msk22.jpg)}
}
.text-transform {
text-transform: none;
}
.tm-font {
font-size: 23px;
    font-weight: bold;
    text-align: center;
color:#104c77;

}

.tm-block {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 116px;
}

.tm-block {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 90px;
}

.tm-h2 {
    font-size: 23px;
    line-height: 30px;
}
.uk-text-white {
font-size: 49px;
line-height: 45px;
    text-shadow: 1px 1px 3px #7d7d7d, -1px -1px 3px #000, 1px 1px #101010, -1px -1px #000;
    color: #ffffff;
}

.tm-article-date span {
    display: block;
    max-width: 50px;
}
.tm-article-date span {
    display: block;
    max-width: 50px;
}
.tm-article-date-month {
    color: rgb(196, 193, 193);
    font-size: 14px;
}
.tm-article-date-day {
    height: 45px;
    font-size: 20px;
    line-height: 30px;
}

.b45 {
background-color: rgba(75, 75, 75, 0.45);
    margin-top: 5px;
}
.tm-block-top-c {
	    margin-top: 0px;
}
.uk-blue {
	    background-color: #6899e6;
}

.tm-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px !important;
}
.tm-title > * {
  padding-right: 10px;
}
.tm-title:after {
  content: '';
  display: block;
  -ms-flex-align: end;
  align-self: flex-end;
  height: 1px;
  background: #000000;
  margin-bottom: 10px;
  margin-left: 10px;
  flex: 1 0 0%;
}
.uk-heading-line {
    overflow: hidden;
}
.uk-img-5 {
    padding-left: 5px;
}
.uk-grid-margin-large {
    margin-top: 100px;
}
.uk-user {
    background-color: rgb(245, 246, 250);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(183, 183, 183);
    border-image: initial;
    border-radius: 3px;
}
.uk-grid-margin-small {
    margin-top: 20px;
}

.uk-heading-line>* {
    display: inline-block;
    position: relative;
}
.uk-heading-line>:after, .uk-heading-line>:before {
    content: "";
    position: absolute;
    top: calc(50% + (1px / 2));
    width: 2000px;
    border-bottom: 1px solid  #9e9e9e;
}
.uk-heading-line>:before {
    right: 100%;
    margin-right: .6em;
}
.uk-heading-line>:after {
    left: 100%;
    margin-left: .6em;
}
.rotate90 {
-webkit-transform: rotate(90deg); //Chrome, Safari
-moz-transform: rotate(90deg); //Firefox
-o-transform: rotate(90deg); //Opera
-ms-transform: rotate(90deg); //IE
transform: rotate(90deg); //браузеры без префексов
}

